[Unit]
Description=node-exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/node_exporter --web.listen-address ":33333"
Restart=on-failure

[Install]
WantedBy=default.target
